@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);





body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Oxygen', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Oxygen', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #2969b0 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #2969b0;
  border-color: #2969b0;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #1b4472;
  border-color: #1b4472;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1b4472 !important;
  border-color: #1b4472 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #16385d;
  color: #16385d;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #2969b0;
  border-color: #2969b0;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #2969b0 !important;
  border-color: #2969b0 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #2969b0 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #2969b0;
}
.btn-social:hover {
  background: #2969b0;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #2969b0;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #2969b0;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #2969b0;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #2969b0;
}
.lead a,
.lead a:hover {
  color: #2969b0;
}
.lead blockquote {
  border-color: #2969b0;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #79aae0;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #2969b0;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#ext_menu-7 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-7 .navbar-caption {
  color: #ffffff;
}
#ext_menu-7 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-7 .close-icon::before,
#ext_menu-7 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-7 .link,
#ext_menu-7 .dropdown-item {
  color: #ffffff;
}
#ext_menu-7 .link {
  font-size: 0.75rem;
}
#ext_menu-7 .dropdown-item,
#ext_menu-7 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-7 .link:hover,
#ext_menu-7 .dropdown-item:hover,
#ext_menu-7 .link:focus,
#ext_menu-7 .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-7 .link[aria-expanded="true"],
#ext_menu-7 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-7 .nav-dropdown-sm .link:focus,
#ext_menu-7 .nav-dropdown-sm .link:hover,
#ext_menu-7 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-7 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-7 .navbar,
#ext_menu-7 .nav-dropdown-sm,
#ext_menu-7 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-7 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-7 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-7 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-7 .bg-color.transparent.opened .link:hover,
#ext_menu-7 .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-7 .link[aria-expanded="true"],
#ext_menu-7 .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#footer1-8 P {
  font-family: 'Roboto', sans-serif;
}
#msg-box7-b .mbr-section-title,
#msg-box7-b .lead p {
  color: #fff;
}
#msg-box7-b H3 {
  text-align: center;
  font-size: 46px;
}
#msg-box7-b P {
  font-family: 'Oxygen', sans-serif;
}
#msg-box7-b B {
  text-align: left;
}
#msg-box7-b SPAN {
  text-align: center;
}


#ext_menu-o .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-o .navbar-caption {
  color: #ffffff;
}
#ext_menu-o .navbar-toggler {
  color: #ffffff;
}
#ext_menu-o .close-icon::before,
#ext_menu-o .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-o .link,
#ext_menu-o .dropdown-item {
  color: #ffffff;
}
#ext_menu-o .link {
  font-size: 0.75rem;
}
#ext_menu-o .dropdown-item,
#ext_menu-o .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-o .link:hover,
#ext_menu-o .dropdown-item:hover,
#ext_menu-o .link:focus,
#ext_menu-o .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-o .link[aria-expanded="true"],
#ext_menu-o .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-o .nav-dropdown-sm .link:focus,
#ext_menu-o .nav-dropdown-sm .link:hover,
#ext_menu-o .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-o .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-o .navbar,
#ext_menu-o .nav-dropdown-sm,
#ext_menu-o .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-o .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-o .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-o .bg-color.transparent.opened .link:hover,
#ext_menu-o .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-o .link[aria-expanded="true"],
#ext_menu-o .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#footer1-p P {
  font-family: 'Roboto', sans-serif;
}
#msg-box7-q .mbr-section-title,
#msg-box7-q .lead p {
  color: #fff;
}
#msg-box7-q H3 {
  text-align: center;
  font-size: 46px;
}
#msg-box7-q P {
  font-family: 'Oxygen', sans-serif;
  color: #000000;
}
#msg-box7-q SPAN {
  color: #000000;
}
#msg-box7-q B {
  color: #000000;
}


#ext_menu-r .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-r .navbar-caption {
  color: #ffffff;
}
#ext_menu-r .navbar-toggler {
  color: #ffffff;
}
#ext_menu-r .close-icon::before,
#ext_menu-r .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-r .link,
#ext_menu-r .dropdown-item {
  color: #ffffff;
}
#ext_menu-r .link {
  font-size: 0.75rem;
}
#ext_menu-r .dropdown-item,
#ext_menu-r .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-r .link:hover,
#ext_menu-r .dropdown-item:hover,
#ext_menu-r .link:focus,
#ext_menu-r .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-r .link[aria-expanded="true"],
#ext_menu-r .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-r .nav-dropdown-sm .link:focus,
#ext_menu-r .nav-dropdown-sm .link:hover,
#ext_menu-r .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-r .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-r .navbar,
#ext_menu-r .nav-dropdown-sm,
#ext_menu-r .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-r .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-r .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-r .bg-color.transparent.opened .link:hover,
#ext_menu-r .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-r .link[aria-expanded="true"],
#ext_menu-r .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#footer1-s P {
  font-family: 'Roboto', sans-serif;
}
#msg-box7-t .mbr-section-title,
#msg-box7-t .lead p {
  color: #fff;
}
#msg-box7-t H3 {
  text-align: center;
  font-size: 46px;
}
#msg-box7-t P {
  font-family: 'Oxygen', sans-serif;
  color: #000000;
}
#msg-box7-t SPAN {
  color: #ffffff;
}
#msg-box7-t B {
  color: #ffffff;
}


#ext_menu-u .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-u .navbar-caption {
  color: #ffffff;
}
#ext_menu-u .navbar-toggler {
  color: #ffffff;
}
#ext_menu-u .close-icon::before,
#ext_menu-u .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-u .link,
#ext_menu-u .dropdown-item {
  color: #ffffff;
}
#ext_menu-u .link {
  font-size: 0.75rem;
}
#ext_menu-u .dropdown-item,
#ext_menu-u .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-u .link:hover,
#ext_menu-u .dropdown-item:hover,
#ext_menu-u .link:focus,
#ext_menu-u .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-u .link[aria-expanded="true"],
#ext_menu-u .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-u .nav-dropdown-sm .link:focus,
#ext_menu-u .nav-dropdown-sm .link:hover,
#ext_menu-u .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-u .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-u .navbar,
#ext_menu-u .nav-dropdown-sm,
#ext_menu-u .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-u .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-u .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-u .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-u .bg-color.transparent.opened .link:hover,
#ext_menu-u .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-u .link[aria-expanded="true"],
#ext_menu-u .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#footer1-v P {
  font-family: 'Roboto', sans-serif;
}
#msg-box7-w .mbr-section-title,
#msg-box7-w .lead p {
  color: #fff;
}
#msg-box7-w H3 {
  text-align: center;
  font-size: 46px;
}
#msg-box7-w P {
  font-family: 'Oxygen', sans-serif;
  color: #475577;
}
#msg-box7-w SPAN {
  color: #ffffff;
}
#msg-box7-w B {
  color: #ffffff;
}


#ext_menu-x .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-x .navbar-caption {
  color: #ffffff;
}
#ext_menu-x .navbar-toggler {
  color: #ffffff;
}
#ext_menu-x .close-icon::before,
#ext_menu-x .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-x .link,
#ext_menu-x .dropdown-item {
  color: #ffffff;
}
#ext_menu-x .link {
  font-size: 0.75rem;
}
#ext_menu-x .dropdown-item,
#ext_menu-x .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-x .link:hover,
#ext_menu-x .dropdown-item:hover,
#ext_menu-x .link:focus,
#ext_menu-x .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-x .link[aria-expanded="true"],
#ext_menu-x .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-x .nav-dropdown-sm .link:focus,
#ext_menu-x .nav-dropdown-sm .link:hover,
#ext_menu-x .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-x .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-x .navbar,
#ext_menu-x .nav-dropdown-sm,
#ext_menu-x .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-x .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-x .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-x .bg-color.transparent.opened .link:hover,
#ext_menu-x .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-x .link[aria-expanded="true"],
#ext_menu-x .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#footer1-y P {
  font-family: 'Roboto', sans-serif;
}
#msg-box7-z .mbr-section-title,
#msg-box7-z .lead p {
  color: #fff;
}
#msg-box7-z H3 {
  text-align: center;
  font-size: 46px;
}
#msg-box7-z P {
  font-family: 'Oxygen', sans-serif;
  color: #475577;
}
#msg-box7-z SPAN {
  color: #ffffff;
}
#msg-box7-z B {
  color: #ffffff;
}


#ext_menu-10 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-10 .navbar-caption {
  color: #ffffff;
}
#ext_menu-10 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-10 .close-icon::before,
#ext_menu-10 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-10 .link,
#ext_menu-10 .dropdown-item {
  color: #ffffff;
}
#ext_menu-10 .link {
  font-size: 0.75rem;
}
#ext_menu-10 .dropdown-item,
#ext_menu-10 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-10 .link:hover,
#ext_menu-10 .dropdown-item:hover,
#ext_menu-10 .link:focus,
#ext_menu-10 .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-10 .link[aria-expanded="true"],
#ext_menu-10 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-10 .nav-dropdown-sm .link:focus,
#ext_menu-10 .nav-dropdown-sm .link:hover,
#ext_menu-10 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-10 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-10 .navbar,
#ext_menu-10 .nav-dropdown-sm,
#ext_menu-10 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-10 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-10 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-10 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-10 .bg-color.transparent.opened .link:hover,
#ext_menu-10 .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-10 .link[aria-expanded="true"],
#ext_menu-10 .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#footer1-11 P {
  font-family: 'Roboto', sans-serif;
}
#msg-box7-12 .mbr-section-title,
#msg-box7-12 .lead p {
  color: #fff;
}
#msg-box7-12 H3 {
  text-align: center;
  font-size: 46px;
}
#msg-box7-12 P {
  font-family: 'Oxygen', sans-serif;
  color: #475577;
}
#msg-box7-12 SPAN {
  color: #ffffff;
}
#msg-box7-12 B {
  color: #ffffff;
}


#ext_menu-15 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-15 .navbar-caption {
  color: #ffffff;
}
#ext_menu-15 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-15 .close-icon::before,
#ext_menu-15 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-15 .link,
#ext_menu-15 .dropdown-item {
  color: #ffffff;
}
#ext_menu-15 .link {
  font-size: 0.75rem;
}
#ext_menu-15 .dropdown-item,
#ext_menu-15 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-15 .link:hover,
#ext_menu-15 .dropdown-item:hover,
#ext_menu-15 .link:focus,
#ext_menu-15 .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-15 .link[aria-expanded="true"],
#ext_menu-15 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-15 .nav-dropdown-sm .link:focus,
#ext_menu-15 .nav-dropdown-sm .link:hover,
#ext_menu-15 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-15 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-15 .navbar,
#ext_menu-15 .nav-dropdown-sm,
#ext_menu-15 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-15 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-15 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-15 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-15 .bg-color.transparent.opened .link:hover,
#ext_menu-15 .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-15 .link[aria-expanded="true"],
#ext_menu-15 .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#footer1-16 P {
  font-family: 'Roboto', sans-serif;
}
#msg-box7-17 .mbr-section-title,
#msg-box7-17 .lead p {
  color: #fff;
}
#msg-box7-17 H3 {
  text-align: center;
  font-size: 46px;
}
#msg-box7-17 P {
  font-family: 'Oxygen', sans-serif;
  color: #475577;
}
#msg-box7-17 SPAN {
  color: #ffffff;
}
#msg-box7-17 B {
  color: #ffffff;
}


#ext_menu-18 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-18 .navbar-caption {
  color: #ffffff;
}
#ext_menu-18 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-18 .close-icon::before,
#ext_menu-18 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-18 .link,
#ext_menu-18 .dropdown-item {
  color: #ffffff;
}
#ext_menu-18 .link {
  font-size: 0.75rem;
}
#ext_menu-18 .dropdown-item,
#ext_menu-18 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-18 .link:hover,
#ext_menu-18 .dropdown-item:hover,
#ext_menu-18 .link:focus,
#ext_menu-18 .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-18 .link[aria-expanded="true"],
#ext_menu-18 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-18 .nav-dropdown-sm .link:focus,
#ext_menu-18 .nav-dropdown-sm .link:hover,
#ext_menu-18 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-18 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-18 .navbar,
#ext_menu-18 .nav-dropdown-sm,
#ext_menu-18 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-18 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-18 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-18 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-18 .bg-color.transparent.opened .link:hover,
#ext_menu-18 .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-18 .link[aria-expanded="true"],
#ext_menu-18 .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#footer1-19 P {
  font-family: 'Roboto', sans-serif;
}
#msg-box7-1a .mbr-section-title,
#msg-box7-1a .lead p {
  color: #fff;
}
#msg-box7-1a H3 {
  text-align: center;
  font-size: 46px;
}
#msg-box7-1a P {
  font-family: 'Oxygen', sans-serif;
  color: #475577;
}
#msg-box7-1a SPAN {
  color: #ffffff;
}
#msg-box7-1a B {
  color: #ffffff;
}

#ext_menu-1b .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1b .navbar-caption {
  color: #ffffff;
}
#ext_menu-1b .navbar-toggler {
  color: #ffffff;
}
#ext_menu-1b .close-icon::before,
#ext_menu-1b .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-1b .link,
#ext_menu-1b .dropdown-item {
  color: #ffffff;
}
#ext_menu-1b .link {
  font-size: 0.75rem;
}
#ext_menu-1b .dropdown-item,
#ext_menu-1b .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-1b .link:hover,
#ext_menu-1b .dropdown-item:hover,
#ext_menu-1b .link:focus,
#ext_menu-1b .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-1b .link[aria-expanded="true"],
#ext_menu-1b .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-1b .nav-dropdown-sm .link:focus,
#ext_menu-1b .nav-dropdown-sm .link:hover,
#ext_menu-1b .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1b .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-1b .navbar,
#ext_menu-1b .nav-dropdown-sm,
#ext_menu-1b .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1b .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-1b .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-1b .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1b .bg-color.transparent.opened .link:hover,
#ext_menu-1b .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-1b .link[aria-expanded="true"],
#ext_menu-1b .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#footer1-1c P {
  font-family: 'Roboto', sans-serif;
}
#header5-1d .mbr-section-title {
  color: #000;
}
#header5-1d .mbr-section-lead {
  color: #9c9a9a;
}

#ext_menu-13 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-13 .navbar-caption {
  color: #ffffff;
}
#ext_menu-13 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-13 .close-icon::before,
#ext_menu-13 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-13 .link,
#ext_menu-13 .dropdown-item {
  color: #ffffff;
}
#ext_menu-13 .link {
  font-size: 0.75rem;
}
#ext_menu-13 .dropdown-item,
#ext_menu-13 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-13 .link:hover,
#ext_menu-13 .dropdown-item:hover,
#ext_menu-13 .link:focus,
#ext_menu-13 .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-13 .link[aria-expanded="true"],
#ext_menu-13 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-13 .nav-dropdown-sm .link:focus,
#ext_menu-13 .nav-dropdown-sm .link:hover,
#ext_menu-13 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-13 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-13 .navbar,
#ext_menu-13 .nav-dropdown-sm,
#ext_menu-13 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-13 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-13 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-13 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-13 .bg-color.transparent.opened .link:hover,
#ext_menu-13 .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-13 .link[aria-expanded="true"],
#ext_menu-13 .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#footer1-14 P {
  font-family: 'Roboto', sans-serif;
}

#ext_menu-l .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-l .navbar-caption {
  color: #ffffff;
}
#ext_menu-l .navbar-toggler {
  color: #ffffff;
}
#ext_menu-l .close-icon::before,
#ext_menu-l .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-l .link,
#ext_menu-l .dropdown-item {
  color: #ffffff;
}
#ext_menu-l .link {
  font-size: 0.75rem;
}
#ext_menu-l .dropdown-item,
#ext_menu-l .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-l .link:hover,
#ext_menu-l .dropdown-item:hover,
#ext_menu-l .link:focus,
#ext_menu-l .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-l .link[aria-expanded="true"],
#ext_menu-l .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-l .nav-dropdown-sm .link:focus,
#ext_menu-l .nav-dropdown-sm .link:hover,
#ext_menu-l .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-l .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-l .navbar,
#ext_menu-l .nav-dropdown-sm,
#ext_menu-l .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-l .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-l .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-l .bg-color.transparent.opened .link:hover,
#ext_menu-l .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-l .link[aria-expanded="true"],
#ext_menu-l .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#footer1-m P {
  font-family: 'Roboto', sans-serif;
}
#header5-n .mbr-section-title {
  color: #000;
}
#header5-n .mbr-section-lead {
  color: #9c9a9a;
}


#ext_menu-f .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-f .navbar-caption {
  color: #ffffff;
}
#ext_menu-f .navbar-toggler {
  color: #ffffff;
}
#ext_menu-f .close-icon::before,
#ext_menu-f .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-f .link,
#ext_menu-f .dropdown-item {
  color: #ffffff;
}
#ext_menu-f .link {
  font-size: 0.75rem;
}
#ext_menu-f .dropdown-item,
#ext_menu-f .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-f .link:hover,
#ext_menu-f .dropdown-item:hover,
#ext_menu-f .link:focus,
#ext_menu-f .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-f .link[aria-expanded="true"],
#ext_menu-f .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-f .nav-dropdown-sm .link:focus,
#ext_menu-f .nav-dropdown-sm .link:hover,
#ext_menu-f .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-f .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-f .navbar,
#ext_menu-f .nav-dropdown-sm,
#ext_menu-f .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-f .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-f .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-f .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-f .bg-color.transparent.opened .link:hover,
#ext_menu-f .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-f .link[aria-expanded="true"],
#ext_menu-f .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#footer1-g P {
  font-family: 'Roboto', sans-serif;
}
#msg-box7-h .mbr-section-title,
#msg-box7-h .lead p {
  color: #fff;
}
#msg-box7-h H3 {
  text-align: center;
  font-size: 46px;
}
#msg-box7-h P {
  font-family: 'Oxygen', sans-serif;
}


#ext_menu-1e .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1e .navbar-caption {
  color: #ffffff;
}
#ext_menu-1e .navbar-toggler {
  color: #ffffff;
}
#ext_menu-1e .close-icon::before,
#ext_menu-1e .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-1e .link,
#ext_menu-1e .dropdown-item {
  color: #ffffff;
}
#ext_menu-1e .link {
  font-size: 0.75rem;
}
#ext_menu-1e .dropdown-item,
#ext_menu-1e .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-1e .link:hover,
#ext_menu-1e .dropdown-item:hover,
#ext_menu-1e .link:focus,
#ext_menu-1e .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-1e .link[aria-expanded="true"],
#ext_menu-1e .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-1e .nav-dropdown-sm .link:focus,
#ext_menu-1e .nav-dropdown-sm .link:hover,
#ext_menu-1e .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1e .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-1e .navbar,
#ext_menu-1e .nav-dropdown-sm,
#ext_menu-1e .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1e .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-1e .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-1e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1e .bg-color.transparent.opened .link:hover,
#ext_menu-1e .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-1e .link[aria-expanded="true"],
#ext_menu-1e .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#footer1-1f P {
  font-family: 'Roboto', sans-serif;
}
#msg-box7-1g .mbr-section-title,
#msg-box7-1g .lead p {
  color: #fff;
}
#msg-box7-1g H3 {
  text-align: center;
  font-size: 46px;
}
#msg-box7-1g P {
  font-family: 'Oxygen', sans-serif;
  color: #000000;
}
#msg-box7-1g SPAN {
  color: #ffffff;
}
#msg-box7-1g B {
  color: #ffffff;
}

#ext_menu-1e .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1e .navbar-caption {
  color: #ffffff;
}
#ext_menu-1e .navbar-toggler {
  color: #ffffff;
}
#ext_menu-1e .close-icon::before,
#ext_menu-1e .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-1e .link,
#ext_menu-1e .dropdown-item {
  color: #ffffff;
}
#ext_menu-1e .link {
  font-size: 0.75rem;
}
#ext_menu-1e .dropdown-item,
#ext_menu-1e .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-1e .link:hover,
#ext_menu-1e .dropdown-item:hover,
#ext_menu-1e .link:focus,
#ext_menu-1e .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-1e .link[aria-expanded="true"],
#ext_menu-1e .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-1e .nav-dropdown-sm .link:focus,
#ext_menu-1e .nav-dropdown-sm .link:hover,
#ext_menu-1e .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1e .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-1e .navbar,
#ext_menu-1e .nav-dropdown-sm,
#ext_menu-1e .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1e .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-1e .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-1e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1e .bg-color.transparent.opened .link:hover,
#ext_menu-1e .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-1e .link[aria-expanded="true"],
#ext_menu-1e .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#header3-1s .mbr-section-title,
#header3-1s .mbr-section-subtitle {
  text-align: center;
}
#header3-23 .mbr-section-title,
#header3-23 .mbr-section-subtitle {
  text-align: center;
}
#header3-1y .mbr-section-title,
#header3-1y .mbr-section-subtitle {
  text-align: center;
}
#header3-1z .mbr-section-title,
#header3-1z .mbr-section-subtitle {
  text-align: center;
}
#header3-28 .mbr-section-title,
#header3-28 .mbr-section-subtitle {
  text-align: center;
}
#header3-20 .mbr-section-title,
#header3-20 .mbr-section-subtitle {
  text-align: center;
}
#header3-25 .mbr-section-title,
#header3-25 .mbr-section-subtitle {
  text-align: center;
}
#social-buttons4-1i .mbr-section-title,
#social-buttons4-1i .btn-social {
  color: #fff;
}
#footer1-1f P {
  font-family: 'Roboto', sans-serif;
}
